/* layuot styling */

.user_header, .user_subheader, .guestheader {
    width: 100%;
    background-color: black;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.layout-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.layout-link:hover {
    color: var(--secondary-color);
    transition: 0.1s ease;
}

.user_spot {
    cursor: pointer;
}

.user_spot img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user_subheader {
    visibility: hidden;
}

.guestsingin i {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.guestsingin i:hover {
    color: var(--secondary-color);
    transition: 0.1s ease;
}
